<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">



            <form [formGroup]="addLawnForm" (ngSubmit)="register()">

                <div class="form-group">
                  <input ngx-google-places-autocomplete placeholder="Search to autocomplete" [options]="{
                    types: ['(regions)']
                  }" #placesRef="ngx-places" formControlName="searchControl" (change)="addressChange($event)" (onAddressChange)="handleAddressChange($event)"/>
                </div>

                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input placeholder="street" formControlName="street">
                  </div>

                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="text" placeholder="city" formControlName="city">
                  </div>

                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="text" placeholder="state" formControlName="state">
                  </div>

                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="number" placeholder="zip" formControlName="zip">
                  </div>

                <div class="form-group">
                  <input type="submit" value="Register Me" class="btn float-right login_btn" style="width: 7.5rem;">
                </div>
              </form>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
